.App {
  text-align: center;
}

/*=============== Header =========================*/

header {
  background-color: #1f2041;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: yellow;
}

/*=============== Header =========================*/

/*=============== Navbar =========================*/

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

nav li {
  display: inline;
  padding-right: 10px;
  margin-right: 2em;
  list-style: none;
}

.btn-unique {
  color: yellow;
}
/*=============== Navbar =========================*/

/*=============== Topics =========================*/
.topics-content ul {
  margin: 0;
  padding: 0;
}

.topics-content ul li a {
  text-decoration: none;
}

.topics-content ul li h2:hover {
  color: yellow;
}

.topics-content ul h2 {
  background-color: #417b5a;
  margin-top: 0;
  padding: 10px;
  color: white;
}

.topics-content li {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 100px;
  text-transform: uppercase;
  background-color: #e9d2c0;
}

/*=============== ArticlesByTopics =========================*/

.articlesBy-topics ul {
  padding: 0;
  margin: 0;
}

.articlesBy-topics a {
  text-decoration: none;
}

.articlesBy-topics ul h5 {
  background-color: #417b5a;
  margin-top: 0;
  padding: 10px;
  color: white;
}
.articlesBy-topics ul h5:hover {
  color: yellow;
}

.articlesBy-topics li {
  padding: 0;
  background-color: #e9d2c0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 100px;
  text-transform: uppercase;
}

/*=============== ArticlesByTopics =========================*/

/*=============== All Articles =========================*/
.all-articles ul {
  padding: 0;
  margin: 0;
}

.all-articles a {
  text-decoration: none;
}

.all-articles li {
  padding: 0;
  background-color: #e9d2c0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 100px;
  text-transform: uppercase;
}

.all-articles ul h5 {
  background-color: #417b5a;
  margin-top: 0;
  padding: 10px;
  color: white;
}
/*=============== All Articles =========================*/

/*=============== All Comments =========================*/

.all-comments ul {
  padding: 0;
  margin: 0;
}

.all-comments li {
  padding: 0;
  background-color: #417b5a;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 100px;
  text-transform: uppercase;
}

.all-comments ul h3 {
  background-color: #1f2041;
  margin-top: -18px;
  padding: 15px;
  color: white;
}

/*=============== All Comments =========================*/

/*=============== Login =========================*/

.login {
  margin-top: 100px;
  text-transform: uppercase;
  background-color: #417b5a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  color: white;
  border-radius: 15px;
}

.login ul {
  padding: 0;
  margin: 0;
}

.login ul li {
  list-style: none;
}

.login input {
  width: 150px;
  align-self: center;
}

.login-btn {
  border-radius: 15px;
  margin-top: 3px;
  background-color: #13505b;
  border-color: #13505b;
  color: white;
  width: 70px;
  align-self: center;
}

.login-btn:hover {
  background-color: yellow;
  border-color: yellow;
  color: red;
}

/*=============== Login =========================*/

/*=============== single Article =========================*/

.single-article {
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  padding: 5px;
  background-color: #417b5a;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.like-dislike-btn {
  border-radius: 15px;
  margin-top: 3px;
  background-color: #13505b;
  border-color: #13505b;
  color: white;
  width: 70px;
  align-self: center;
  margin-right: 3px;
}

.like-dislike-btn:hover {
  color: red;
  background-color: yellow;
  border-color: yellow;
}

/*=============== single Article =========================*/

/*=============== Media Queries =========================*/

@media only screen and (max-width: 466px) {
  .login {
    margin-top: 100px;
    text-transform: uppercase;
    background-color: #417b5a;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
    color: white;
    border-radius: 15px;
  }
}

/*=============== Media Queries =========================*/
