.App {
  text-align: center;
}

/*=============== Header =========================*/

header {
  background-color: #13505b;
  color: white;
}

/*=============== Header =========================*/

/*=============== Navbar =========================*/

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  padding-right: 10px;
  margin-right: 2em;
  list-style: none;
}
/*=============== Navbar =========================*/

/*=============== Topics =========================*/
.topics-content ul {
  margin: 0;
  padding: 0;
}

.topics-content ul li a {
  text-decoration: none;
}

.topics-content ul h2 {
  background-color: #119da4;
  margin-top: 0;
  padding: 10px;
  color: white;
}

.topics-content li {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 100px;
  text-transform: uppercase;
}

/*=============== Articles =========================*/

/*=============== Articles =========================*/

/*=============== Topics =========================*/

/*=============== Topics =========================*/

/*=============== Topics =========================*/

/*=============== Topics =========================*/

/*=============== Topics =========================*/
