* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d0ceba;
}

li {
  list-style-type: none;
  line-height: 2em;
  font-family: "Baloo Thambi 2", cursive;
}

.main-header {
  font-family: "Baloo Thambi 2", cursive;
  word-spacing: 20px;
  font-weight: 400;
  padding: 30px;
  margin: 0;
  color: white;
  background: #1f2041;
}

.articles {
  padding: 0px;
  font-size: 1.1em;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #1f2041;
  background-color: #e9d2c0;
}

.topics-header {
  background-color: #417b5a;
}

.navbar {
  display: flex;
  position: fixed;
  font-size: 1.5em;
  padding: 0;
  top: 0;
  left: 350px;
}

.btn {
  font-family: "Baloo Thambi 2", cursive;
  padding: 5px;
  margin: 40px;
  background: none;
  color: white;
  width: 100px;
  border-radius: 15%;
}

.btn-unique {
  font-family: "Baloo Thambi 2", cursive;
  padding: 5px;
  margin: 40px;
  background: none;
  color: green;
  width: 100px;
  border-radius: 15%;
}

.single {
  font-family: "Baloo Thambi 2", cursive;
  text-align: center;
  font-size: 1em;
  margin-top: 50px;
}

.footer {
  font-family: "Baloo Thambi 2", cursive;
  text-align: center;
  padding: 40px;
  color: white;
  margin-top: 20px;
  background: #4b3f72;
}

.articles-header {
  font-family: "Baloo Thambi 2", cursive;
  background-color: #4b3f72;
  padding: -5px;
  color: white;
}

.sorter {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.red {
  color: red;
}

.login {
  font-family: "Baloo Thambi 2", cursive;
  text-align: center;
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 10px;
  line-height: 1.8;
  background-color: #417b5a;
}

.green {
  color: green;
}

.main-articles {
  text-align: center;
  padding: 0;
  margin: 0;
}

.article-title {
  background-color: #417b5a;
  padding: 15px;
  color: white;
}

a:link {
  text-decoration: none;
}

.topics {
  text-align: center;
  margin-top: 2em;
  border: 1px solid black;
  margin-left: 180px;
  margin-right: 180px;
  padding: 0px;
}

.topics-container {
  margin-top: 50px;
}

.topics-header {
  background-color: #417b5a;
  color: white;
}

.art-btn {
  padding-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2px;
  background-color: #4b3f72;
  border-color: #4b3f72;
  color: white;
  border-radius: 10px;
}

.user {
  background-color: #417b5a;
  margin-top: 100px;
  text-align: center;
}

.login-btn {
  background-color: #4b3f72;
  border-color: #4b3f72;
  color: white;
}

.vote-btn {
  background-color: #4b3f72;
  border-color: #4b3f72;
  color: white;
  margin-right: 10px;
  padding: 2px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    align-items: center;
    position: relative;
    left: 0;
    margin-left: -30px;
    background-color: #4b3f72;
  }
  .btn {
    color: white;
  }
  .main-header {
    text-align: center;
  }
}
